
      * {
        font-family: helvetica;
        color: black;
      }

      body {
        display: block;
   /*     background-color: #333234; */
      }

      nav {
        padding: 0 10px 20px 10px;
        border-bottom: 2px solid white;
      }

      a {
      /*  color: blue; */
        font-weight: 700;
      }

      a#selected {
        font-weight: 900;
        color: orange;
        pointer-events: none;
      }

      div#wrapper {
         display: grid;
      }

      div#wrapper>div {
       display: inline-grid;
	border: 2px solid grey;
        float: left;
        min-width: 13%;
	width: auto;
        padding: 1%;
        height: auto;
        max-width: 350px;
        min-height: 360px;
      }

      div#wrapper>div>span {
        color: black;
        text-decoration: underline;
        font-size: 18px;
        font-weight: 600;
      }

      div#wrapper>div>video {
        max-width: 340px;
        height: auto;
      }

      audio {
        width: 350px;
      }

      img {
        max-width: 340px;
        height: auto;
      }

      h1 {
        color: orange;
        text-decoration: underline;
        font-size: 20px;
        font-weight: 700;
      }
